* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: italic;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 65px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
